body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1b32;
    color: #f0f0f0;
}

header {
    background-color: #000000;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6f42c1;
}

.form-section {
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    background-color: #27273a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-section h2 {
    text-align: center;
    color: #d7b3ff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #33334a;
    color: #f0f0f0;
}

.form-group select {
    width: 103.5%;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d7b3ff;
    color: #6f42c1;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #b38bff;
}
